.breadcrumb-section {
	height: 500px;
	padding-top: 230px;
    background: url("../../assets/breadcrumb-bg.jpg");
}

.breadcrumb-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.breadcrumb-text .bt-option a {
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	display: inline-block;
	position: relative;
	margin-right: 20px;
}

.breadcrumb-text .bt-option a:after {
	position: absolute;
	right: -14px;
	top: 6px;
	font-family: "FontAwesome";
	content: "";
	font-size: 13px;
	font-weight: 400;
}

.breadcrumb-text .bt-option span {
	font-size: 18px;
	color: #f36100;
	font-weight: 700;
}


.blog-details-section {
	background: #151515;
	padding-top: 80px;
	overflow: hidden;
}

.blog-details-text .blog-details-title {
	text-align: center;
	margin-bottom: 32px;
}

.blog-details-text .blog-details-title p {
	color: #c4c4c4;
}

.blog-details-text .blog-details-title p:first-child {
	margin-bottom: 25px;
}

.blog-details-text .blog-details-title h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	padding-top: 5px;
	margin-bottom: 28px;
}

.blog-details-text .blog-details-pic {
	margin-right: -10px;
	overflow: hidden;
	margin-bottom: 22px;
}

.blog-details-text .blog-details-pic .blog-details-pic-item {
	width: calc(50% - 10px);
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}

.blog-details-text .blog-details-pic .blog-details-pic-item img {
	min-width: 100%;
}

.blog-details-text .blog-details-desc {
	text-align: center;
	margin-bottom: 60px;
}

.blog-details-text .blog-details-desc p {
	color: #c4c4c4;
}

.blog-details-text .blog-details-quote {
	text-align: center;
	border: 2px solid #363636;
	padding: 40px 22px 25px;
	position: relative;
	margin-bottom: 30px;
}

.blog-details-text .blog-details-quote .quote-icon {
	position: absolute;
	left: 50%;
	top: -26px;
	height: 55px;
	width: 55px;
	background: #151515;
	border: 2px solid #363636;
	line-height: 47px;
	text-align: center;
	border-radius: 50%;
	-webkit-transform: translateX(-27.5px);
	-ms-transform: translateX(-27.5px);
	transform: translateX(-27.5px);
}

.blog-details-text .blog-details-quote h5 {
	font-size: 20px;
	color: #ffffff;
	line-height: 30px;
	margin-bottom: 6px;
}

.blog-details-text .blog-details-quote span {
	font-size: 15px;
	color: #888888;
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
}

.blog-details-text .blog-details-more-desc {
	text-align: center;
	margin-bottom: 40px;
}

.blog-details-text .blog-details-more-desc p {
	color: #c4c4c4;
}

.blog-details-text .blog-details-more-desc p:first-child {
	margin-bottom: 25px;
}

.blog-details-text .blog-details-tag-share {
	text-align: center;
	margin-bottom: 100px;
}

.blog-details-text .blog-details-tag-share .tags {
	margin-bottom: 25px;
}

.blog-details-text .blog-details-tag-share .tags a {
	display: inline-block;
	font-size: 14px;
	color: #c4c4c4;
	padding: 10px 15px;
	background: #252525;
	margin-right: 5px;
	margin-bottom: 10px;
}

.blog-details-text .blog-details-tag-share .tags a:last-child {
	margin-right: 0;
}

.blog-details-text .blog-details-tag-share .share span {
	font-size: 14px;
	color: #c4c4c4;
	text-transform: uppercase;
	margin-right: 30px;
}

.blog-details-text .blog-details-tag-share .share a {
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 15px;
}

.blog-details-text .blog-details-tag-share .share a:last-child {
	margin-right: 0;
}

.blog-details-text .blog-details-tag-share .share a i {
	color: #ffffff;
	margin-right: 5px;
}

.blog-details-text .blog-details-author {
	text-align: center;
	background: #0a0a0a;
	position: relative;
	padding: 70px 50px 35px 50px;
	margin-bottom: 55px;
}

.blog-details-text .blog-details-author .ba-pic {
	position: absolute;
	top: -45px;
	left: 50%;
	-webkit-transform: translateX(-45px);
	-ms-transform: translateX(-45px);
	transform: translateX(-45px);
}

.blog-details-text .blog-details-author .ba-pic img {
	height: 90px;
	width: 90px;
	border-radius: 50%;
}

.blog-details-text .blog-details-author .ba-text h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.blog-details-text .blog-details-author .ba-text p {
	color: #c4c4c4;
}

.blog-details-text .blog-details-author .ba-text .bp-social a {
	font-size: 13px;
	color: #c4c4c4;
	margin-right: 10px;
}

.blog-details-text .blog-details-author .ba-text .bp-social a:last-child {
	margin-right: 0;
}

.blog-details-text .comment-option .co-title {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.blog-details-text .comment-option .co-widget {
	position: absolute;
	right: 0;
	top: 5px;
}

.blog-details-text .comment-option .co-widget a {
	font-size: 14px;
	color: #c4c4c4;
	margin-left: 8px;
}

.blog-details-text .comment-option .co-item {
	position: relative;
	padding-left: 30px;
	margin-bottom: 35px;
}

.blog-details-text .comment-option .co-item.reply-comment {
	margin-left: 30px;
}

.blog-details-text .comment-option .co-item:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #363636;
	content: "";
}

.blog-details-text .comment-option .co-item .co-pic {
	overflow: hidden;
	margin-bottom: 12px;
}

.blog-details-text .comment-option .co-item .co-pic img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.blog-details-text .comment-option .co-item .co-pic h5 {
	color: #ffffff;
	overflow: hidden;
	line-height: 30px;
}

.blog-details-text .comment-option .co-item .co-text p {
	color: #c4c4c4;
	margin-bottom: 0;
}

.leave-comment h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.leave-comment form input {
	font-size: 13px;
	color: #c4c4c4;
	width: 100%;
	height: 46px;
	border: 1px solid #363636;
	padding-left: 20px;
	padding-right: 5px;
	background: transparent;
	margin-bottom: 20px;
}

.leave-comment form input::-webkit-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::-moz-placeholder {
	color: #c4c4c4;
}

.leave-comment form input:-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form input::placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea {
	font-size: 13px;
	color: #c4c4c4;
	width: 100%;
	height: 100px;
	border: 1px solid #363636;
	padding-left: 20px;
	padding-top: 12px;
	padding-right: 5px;
	background: transparent;
	margin-bottom: 14px;
	resize: none;
}

.leave-comment form textarea::-webkit-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::-moz-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea:-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::-ms-input-placeholder {
	color: #c4c4c4;
}

.leave-comment form textarea::placeholder {
	color: #c4c4c4;
}

.leave-comment form button {
	font-size: 14px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
	width: 100%;
	border: none;
	padding: 14px 0 12px;
	background: #f36100;
}



.contact-section {
	background: #151515;
}

.section-title.contact-title {
	text-align: left;
	margin-bottom: 35px;
}

.contact-widget .cw-text {
	overflow: hidden;
	margin-bottom: 35px;
}

.contact-widget .cw-text i {
	font-size: 30px;
	color: #f36100;
	display: inline-block;
	height: 65px;
	width: 65px;
	background: #363636;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.contact-widget .cw-text p {
	overflow: hidden;
	color: #c4c4c4;
	margin-bottom: 0;
	padding-top: 10px;
}

.contact-widget .cw-text ul {
	overflow: hidden;
	padding-top: 20px;
}

.contact-widget .cw-text ul li {
	list-style: none;
	font-size: 14px;
	color: #c4c4c4;
	margin-right: 25px;
	display: inline-block;
	position: relative;
}

.contact-widget .cw-text ul li:after {
	position: absolute;
	right: -18px;
	top: 0;
	content: "|";
	color: #545454;
}

.contact-widget .cw-text ul li:last-child {
	margin-right: 0;
}

.contact-widget .cw-text ul li:last-child:after {
	display: none;
}

.contact-widget .cw-text.email p {
	padding-top: 20px;
}

.map {
	height: 550px;
	margin-top: 35px;
}

.map iframe {
	width: 100%;
}

.section-title {
	margin-bottom: 45px;
	text-align: center;
}

.section-title span {
	font-size: 16px;
	color: #f36100;
	text-transform: uppercase;
	font-weight: 700;
}

.section-title h2 {
	color: #ffffff;
	font-size: 32px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 8px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.spad-2 {
	padding-top: 50px;
	padding-bottom: 70px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}
