/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* Sidebar Styles */
#sidebar {
  width: 250px;
  height: 100vh;
  background-color: #252424;
  color: #ecf0f1;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.sidebar-responsive {
  width: 60px;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #292828;
}

.sidebar-title .icon {
  font-size: 20px;
  cursor: pointer;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list-item {
  padding: 15px 20px;
  transition: background-color 0.3s;
  font-family: cursive;
  font-size: 20px;
  padding: 30px;
}

.sidebar-list-item a {
  text-decoration: none;
  color: #ecf0f1;
  display: flex;
  align-items: center;
}

.sidebar-list-item a .icon {
  margin-right: 10px;
}

.sidebar-list-item:hover {
  background-color: #f97629;
}

.close_icon {
  font-size: 20px;
  cursor: pointer;
  color: #ecf0f1;
}

/* Responsive Styles */
@media (max-width: 768px) {
  #sidebar {
    width: 60px;
  }

  .sidebar-title {
    justify-content: center;
  }

  .sidebar-list-item a {
    justify-content: center;
  }

  .sidebar-list-item a .icon {
    margin-right: 0;
  }
}
