/* Container for the entire calendar */
.calendar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Header styling */
.calendar-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Container for dropdowns */
.dropdown-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 20px;
}

/* Dropdown styling */
.dropdown {
    padding: 10px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
}

.dropdown:hover,
.dropdown:focus {
    border-color: #a931ad;
    outline: none;
}

/* Calendar styling */
.rbc-calendar {
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.rbc-toolbar {
    background-color: #ad3175;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
}

.rbc-toolbar button {
    color: #050505;
    background-color: #3174ad;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.rbc-toolbar button:hover {
    background-color: #265a88;
}

/* Modal styling */
.modal-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Event Details styling */
.modal-content h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #3174ad;
}

.modal-content p {
    margin-bottom: 10px;
    font-size: 1em;
    color: #333;
}

.modal-content button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #3174ad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #265a88;
}
