body {
  padding-bottom: 4em;
}

.filter-list::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);
  filter: blur(40px);
  z-index: 1;
}

.filter-list {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  text-align: center;
  height: 100%; /* Ensure the block takes full height */
  padding: 5rem 0;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  background-image: url('https://img.freepik.com/free-photo/top-view-perfectly-ordered-fitness-items_23-2150321809.jpg');
  background-size: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 2rem;
}

.filter-list h3 {
  font-size: 2em; 
  font-weight: bold;
  color: #444b4b;
  z-index: 2;
  margin-bottom: 1rem; 
}

.filter-list h4 {
  font-size: 1em;
  font-weight: bold;
  color: #6c7074;
  z-index: 2;
  margin-top: 0; 
}

.product {
  transition: 0.5s;
  margin-bottom: 2em;
  margin-top: 3rem; 
}

.product:hover {
  -ms-transform: scale(1.25, 1.25);
  -webkit-transform: scale(1.25, 1.25);
  transform: scale(1.25, 1.25);
  z-index: 9;
}

.product img {
  width: 100%;
  height: 300px; /* Reduced height for smaller images */
  border-radius: 15px; /* Rounded corners for the cart-like appearance */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.product .info {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  padding: 0.5em 1em;
  margin: 0 0 0.5em 0;
  position: relative; /* Add relative positioning */
  background-color: #fff;
}

.product .info::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust position to the center */
  width: 80%; /* Adjust this value to make the line shorter or longer */
  border-bottom: 1px solid #d0d0d0; /* Thinner grey border */
}

.product .info .name {
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.4em;
  color: #2d7bb5;
  text-align: center; /* Center text horizontally */
}

.product .info .price {
  font-size: 1.5em;
  font-weight: 600;
  color: #75b546;
  text-align: center; /* Center text horizontally */
}

.product .info .price .original-price {
  color: #f54336;
  text-decoration: line-through;
  font-size: 0.7em;
}

.product .links {
  display: flex;
  flex-direction: row;
  padding: 0.5em 1em;
  background-color: #fff;
}

.product .links .more,
.product .links .add-to {
  border-radius: 5px; /* Slight border radius */
  background-color: #e0e0e0; /* Grey background */
  padding: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #333; /* Text color */
  font-weight: 600;
  transition: background-color 0.3s, opacity 0.3s; /* Smooth transitions */
}

.product .links .more {
  width: 150px; /* Width for the "See details" button */
}

.product .links .more:hover,
.product .links .add-to:hover {
  background-color: #b0b0b0; /* Darker grey on hover */
  text-decoration: none;
  opacity: .9;
}

.product .links .add-to {
  margin-left: auto;
}
