
.add-coach-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f4f4;
}

.add-coach-container h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #d78006;
}


.add-coach-container label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.add-coach-container input[type="text"],
.add-coach-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.add-coach-container button {
    width: 100%;
    padding: 10px;
    background-color: #e88c0b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.add-coach-container button:hover {
    background-color: #bd770f;
}

.add-coach-container p {
    text-align: center;
    color: #007bff;
    font-weight: bold;
    margin-top: 15px;
}

.add-coach-container form div {
    margin-bottom: 15px;
}
